.loading{
  display: block;
  position: absolute;
  left: 0px; top:0px;
  background: #222;
  z-index: 99999;
  width: 100%; height: 100%;
  background: #358937; 
  background: -moz-linear-gradient(top, #358937 0%, #c3b361 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#358937), color-stop(100%,#c3b361)); 
  background: -webkit-linear-gradient(top, #358937 0%,#c3b361 100%); 
  background: -o-linear-gradient(top, #358937 0%,#c3b361 100%);
  background: -ms-linear-gradient(top, #358937 0%,#c3b361 100%); 
  background: linear-gradient(to bottom, #358937 0%,#c3b361 100%);
  
  .content{
    position: absolute;
    top:50%; left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  p{
    font-family: "Roboto", "Helvetica", "arial";
    text-align: center;
    color: #F8F4DC;
    font-size: 16px;
    line-height: 18px;
  } 
  
  .cube-holder{
    $size: 40px;
    
    -webkit-perspective: 0px;
    -webkit-perspective-origin: 50% $size/2;
    -moz-perspective: 0px;
    -moz-perspective-origin: 50% $size/2;
    perspective: 0px;
    perspective-origin: 50% $size/2;
    margin: -60px 0;
  
    #cube {
      position: relative;
      margin: 100px auto;
      height: $size;
      width: $size;
      
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      
      -webkit-transform: rotateX(-25deg) rotateY(-45deg);
      -moz-transform: rotateX(-25deg) rotateY(-45deg);
      transform: rotateX(-25deg) rotateY(-45deg);
      
      /*animation: rotateCube 2s infinite ease-in-out;
      -moz-animation: rotateCube 2s infinite ease-in-out;
      -webkit-animation: rotateCube 2s infinite ease-in-out;*/
    }
    
    .face {
      position: absolute;
      height: $size;
      width: $size;
      background-color: rgba(50, 50, 50, 0.7);
      font-size: 27px;
      line-height: 1em;
      color: #fff;
      text-indent: -99999em;
      overflow: hidden;
    }
    
    #cube .one  {
      background: #F8F4DC;
      -webkit-transform: rotateX(90deg) translateZ($size/2);
      -moz-transform: rotateX(90deg) translateZ($size/2);
      transform: rotateX(90deg) translateZ($size/2);
    }
    
    #cube .two {
      background: #D9D6C1;
      -webkit-transform: translateZ($size/2);
      -moz-transform: translateZ($size/2);
      transform: translateZ($size/2);
    }
    
    #cube .three {
      background: #D1CDAC;
      -webkit-transform: rotateY(90deg) translateZ($size/2);
      -moz-transform: rotateY(90deg) translateZ($size/2);
      transform: rotateY(90deg) translateZ($size/2);
    }
    
    #cube .four {
      background: #D9D6C1;
      -webkit-transform: rotateY(180deg) translateZ($size/2);
      -moz-transform: rotateY(180deg) translateZ($size/2);
      transform: rotateY(180deg) translateZ($size/2);
    }
    
    #cube .five {
      background: #D1CDAC;
      -webkit-transform: rotateY(-90deg) translateZ($size/2);
      -moz-transform: rotateY(-90deg) translateZ($size/2);
      transform: rotateY(-90deg) translateZ($size/2);
    }
    
    #cube .six {
      background: #F8F4DC;
      -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ($size/2);
      -moz-transform: rotateX(-90deg) rotate(180deg) translateZ($size/2);
      transform: rotateX(-90deg) rotate(180deg) translateZ($size/2);
    }
  }
}

@-moz-keyframes rotateCube {
	0%{
		transform: rotateX(-25deg) rotateY(-45deg) rotateZ(0deg);
		-moz-transform: rotateX(-25deg) rotateY(-45deg) rotateZ(0deg);		
	}
	
	33%{
		transform: rotateX(-25deg) rotateY(-135deg) rotateZ(0deg);
		-moz-transform: rotateX(-25deg) rotateY(-135deg) rotateZ(0deg);
	}
	
	66%{
		transform: rotateX(-25deg) rotateY(-135deg) rotateZ(-180deg);
		-moz-transform: rotateX(-25deg) rotateY(-135deg) rotateZ(-180deg);
	}
	
	100%{
		transform: rotateX(-25deg) rotateY(-225deg) rotateZ(-180deg);
		-moz-transform: rotateX(-25deg) rotateY(-225deg) rotateZ(-180deg);
	}
}

@keyframes rotateCube {
	0%{
		transform: rotateX(-25deg) rotateY(-45deg) rotateZ(0deg);
		-moz-transform: rotateX(-25deg) rotateY(-45deg) rotateZ(0deg);		
	}
	
	33%{
		transform: rotateX(-25deg) rotateY(-135deg) rotateZ(0deg);
		-moz-transform: rotateX(-25deg) rotateY(-135deg) rotateZ(0deg);
	}
	
	66%{
		transform: rotateX(-25deg) rotateY(-135deg) rotateZ(-180deg);
		-moz-transform: rotateX(-25deg) rotateY(-135deg) rotateZ(-180deg);
	}
	
	100%{
		transform: rotateX(-25deg) rotateY(-225deg) rotateZ(-180deg);
		-moz-transform: rotateX(-25deg) rotateY(-225deg) rotateZ(-180deg);
	}
}

@-webkit-keyframes rotateCube {
	0%{
		transform: rotateX(-25deg) rotateY(-45deg) rotateZ(0deg);
		-webkit-transform: rotateX(-25deg) rotateY(-45deg) rotateZ(0deg);		
	}
	
	33%{
		transform: rotateX(-25deg) rotateY(-135deg) rotateZ(0deg);
		-webkit-transform: rotateX(-25deg) rotateY(-135deg) rotateZ(0deg);
	}
	
	66%{
		transform: rotateX(-25deg) rotateY(-135deg) rotateZ(-180deg);
		-webkit-transform: rotateX(-25deg) rotateY(-135deg) rotateZ(-180deg);
	}
	
	100%{
		transform: rotateX(-25deg) rotateY(-225deg) rotateZ(-180deg);
		-webkit-transform: rotateX(-25deg) rotateY(-225deg) rotateZ(-180deg);
	}
}